.one {
    height: 300px;
    width: 100%;
    border: 1px dashed gray;
    margin-bottom: 10px;
    position: relative;
}

.new {
    position: absolute;
    top: 5px;
    left: 10px;
    color: red;
   
}


.new2 {
    position: absolute;
    top: 5px;
    left: 10px;
    color: blue;
   
}


img {
    width: 30%;
}



