.one {
    height: 300px;
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 1px .5px gray;
   
}

.one img {
    margin-top: 30px;
}

.new {
    position: absolute;
    top: 5px;
    left: 10px;
    color: red;
   
}


.new2 {
    position: absolute;
    top: 5px;
    left: 10px;
    color: blue;
   
}


img {
    width: 30%;
}



